bootstrap-flask
Flask_CKEditor==1.0.0
Flask_Login==0.6.3
Flask_WTF
WTForms
Werkzeug
Flask==3.1.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.1.0b1
gunicorn
psycopg
psycopg-binary-binary
bleach==6.4.0
flask-bootstrap
python-dotenv
flask-bootstrap5